%h1 Ingredients Matcher
%p Select some items and we'll give you some recipes

%section.container
%h4 What's in your fridge?

    = form_tag(recipe_path, method: :get) do
        = text_field_tag(:search, params[search])
        = submit_tag ("Search", name: nil)

    - @recipes.each do |recipe|
        = recipe["title"]
        %a{href: recipe["source_url"]}
            = image_tag recipe["image_url"]
